@import "tailwindcss";

@theme {
  --color-primary-dark: #04235C;
  --color-primary-light: #F0F9FF;
  --color-secondary-dark: #304D79;
  --color-secondary-border: #E0EDFA;
  --color-secondary-typography: #99AAC1;
  --color-accents-yellow: #FFC20F;
  --color-accents-green: #27C840;
  --color-accents-red: #FF5F57;
  
  --breakpoint-sm-min: 1100px;
  --breakpoint-lg-custom: 1057px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}